<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/loginstyle.css') }}">
    </head>
    <body class="loggedin">
        <nav class="navtop">
            <div>
                <h1>BuckBeak Airlines</h1>
                <a href="{{ url_for('index') }}"><i class="fa fa-home"></i>Home</a>

                <a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
            </div>
            <h2>Hello {{ username }}!</h2>
            <!-- Adding jets -->
            <form action='add_jets' method='post'>
              <b>Jet Name</b> <input class="w3-input w3-border" type="text" 
                 placeholder="Name of the jet" name="jet_name"><br>
              <b>Jet status</b> <input class="w3-input w3-border" type="text" 
                 placeholder="Working(1) or Not working(0)" name="status"><br>
              <b>Capacity</b> <input class="w3-input w3-border" type="text" 
                 placeholder= (DD-MM-YYYY)" name="capacity"><br>
              <input type="submit" name="submit" value="Submit">
              <input type="reset" name="reset" value="Reset"><br>
            </form>
        </nav>


   </body>
</html>
